ADMIN_BOT_TOKEN=
CLIENT_BOT_TOKEN=
ADMIN_ID=
DATABASE_URL=postgresql+asyncpg://user:pass@host:5432/dbname
REDIS_URL=
WEBHOOK_BASE_URL=https://your-domain.up.railway.app
WEBHOOK_SECRET=super-secret
PORT=8000
